<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define NineTapTour_TargetDir=$(var.NineTapTour.TargetDir)?>
  <Product Id="*" Name="9-Tap Tour" Language="1033" Version="1.0.0.0" Manufacturer="Clover Park Technical College - Computer Programming" UpgradeCode="386d7054-e2db-458e-bd10-402ce9b04d30">
    <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="NineTapTour.cab" EmbedCab="yes" />

    <!-- Directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="9-Tap Tour" />
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <!-- Add shortcuts and remove on uninstall -->
        <Directory Id="ApplicationProgramsFolder" Name="9-Tap Tour">
          <Component Id="ProgramMenuDir" Guid="127FBAF6-D916-4F99-9C12-7C959A48623D">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\CPTC-CPW\9-TapTour"
                           Type="integer" Value="1" Name="installed" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- Components to install -->
    <Feature Id="ProductFeature" Title="NineTapInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ProgramMenuDir"/>
    </Feature>
  
  
      
  <UI>
    <Binary Id="DialogBanner" SourceFile="Files\HorizontalBanner.bmp" />
    <!-- Set up fonts for dialogs -->
    <TextStyle Id="DlgFontSize10" FaceName="Tahoma" Size="10"/>
    <TextStyle Id="DlgTitleFont" FaceName="Tahoma" Size="12" Bold="yes"/>
   
    <!-- Properties to reference in Dialogs-->
    <Property Id="DefaultUIFont">DlgFontSize10</Property>
    <Property Id="BannerBitmap">DialogBanner</Property>
    <Property Id="WizardPrompt">9-Tap Tour Installation Wizard</Property>
      
    <Dialog Id="InstallDialog" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
      <!-- Reference banner -->
      <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="[BannerBitmap]" />
      <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>The [WizardPrompt] is ready to begin</Text>
        </Control>
      <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
        <Text>{\DlgTitleFont}Ready to Install</Text>
      </Control>
      <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
      <Control Id="Install" Type="PushButton" X="300" Y="243" Width="54" Height="17" Default="yes" Text="Install">
        <Publish Event="EndDialog" Value="Return" />
      </Control>
    </Dialog>
  
    <!-- Need install validate dialog: Verifies disk space and notifies user if any files that will be overwritten are in use
         1) ValidateProductID
         2) CostInitialize
         3) FileCost
         4) CostFinalize
         5) ExecuteAction: All info is collected and install is ready to begin-->
      
    <InstallUISequence>
      <Show Dialog="InstallDialog" After="CostFinalize" />
      <!--<Show Dialog="FatalErrorDialog" OnExit="error" />
      <Show Dialog="ExitDialogSuccess" OnExit="success" />
      <Show Dialog="ExitDialogCancel" OnExit="cancel" />-->
    </InstallUISequence>
  </UI>
  </Product>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductTextFile">

        <!--Help https://stackoverflow.com/questions/14583509/wix-installer-start-menu-shortcut-not-appearing
        Start menu shortcut docs http://wixtoolset.org/documentation/manual/v3/howtos/files_and_registry/create_start_menu_shortcut.html -->
        <File Id="NineTapProg" Source ="$(var.NineTapTour_TargetDir)NineTapTour.exe">
          <Shortcut Id="desktopShortcut" Advertise="yes" Directory="DesktopFolder"
                    Name="9TapTour" WorkingDirectory="INSTALLFOLDER"
                    IconIndex="0" Icon="Icon1.ico">
            <Icon Id="Icon1.ico" SourceFile="$(var.NineTapTour_TargetDir)Icon\9tap.ico"/>
          </Shortcut>
          <Shortcut Id="startMenuShortcut" Directory="ApplicationProgramsFolder"
                    Name="9TapTour" WorkingDirectory="INSTALLFOLDER"
                    IconIndex="0" Advertise="yes" Icon="Icon2.ico">
            <Icon Id="Icon2.ico" SourceFile="$(var.NineTapTour_TargetDir)Icon\9tap.ico"/>
          </Shortcut>
        </File>      
      </Component>
      <Component Id="NineTapTour.exe.config" Guid="3f38b4ad-74de-4847-9555-f109bb4a821e">
        <File Id="NineTapTour.exe.config" Name="NineTapTour.exe.config" Source="$(var.NineTapTour_TargetDir)NineTapTour.exe.config" />
      </Component>
      <Component Id="EntityFramework.dll" Guid="01044c28-fbd3-4f01-bec0-c6af2a83eef7">
        <File Id="EntityFramework.dll" Name="EntityFramework.dll" Source="$(var.NineTapTour_TargetDir)EntityFramework.dll" />
      </Component>
      <Component Id="EntityFramework.SqlServer.dll" Guid="97de3945-2c70-4a5f-8ad2-67dd69f3240a">
        <File Id="EntityFramework.SqlServer.dll" Name="EntityFramework.SqlServer.dll" Source="$(var.NineTapTour_TargetDir)EntityFramework.SqlServer.dll" />
      </Component>
      <Component Id="FluentValidationNA.dll" Guid="4bcd2317-fc70-4778-945f-43552f575b24">
        <File Id="FluentValidationNA.dll" Name="FluentValidationNA.dll" Source="$(var.NineTapTour_TargetDir)FluentValidationNA.dll" />
      </Component>
      <Component Id="System.Linq.Dynamic.dll" Guid="c76f6d3a-a931-4631-afe9-5202aa420004">
        <File Id="System.Linq.Dynamic.dll" Name="System.Linq.Dynamic.dll" Source="$(var.NineTapTour_TargetDir)System.Linq.Dynamic.dll" />
      </Component>
      <Component Id="Icon_9tap.ico" Guid="2bc93db2-51f3-4366-98af-e128f7b12c34">
        <File Id="Icon_9tap.ico" Name="Ninetap.ico" Source="$(var.NineTapTour_TargetDir)Icon\9tap.ico" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
