<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define NineTapTour_TargetDir=$(var.NineTapTour.TargetDir)?>
	<Product Id="*" Name="NineTapInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Clover Park Technical College - Computer Programming" UpgradeCode="386d7054-e2db-458e-bd10-402ce9b04d30">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="NineTapInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProgramFilesFolder_files" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="9-Tap Tour" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="NineTapTour.exe" Guid="cf8abf8c-8f28-433e-959e-cd0d2dd15486">
			  <File Id="NineTapTour.exe" Name="NineTapTour.exe" Source="$(var.NineTapTour_TargetDir)NineTapTour.exe" />
			</Component>
			<Component Id="NineTapTour.exe.config" Guid="3f38b4ad-74de-4847-9555-f109bb4a821e">
			  <File Id="NineTapTour.exe.config" Name="NineTapTour.exe.config" Source="$(var.NineTapTour_TargetDir)NineTapTour.exe.config" />
			</Component>
			<Component Id="EntityFramework.dll" Guid="01044c28-fbd3-4f01-bec0-c6af2a83eef7">
			  <File Id="EntityFramework.dll" Name="EntityFramework.dll" Source="$(var.NineTapTour_TargetDir)EntityFramework.dll" />
			</Component>
			<Component Id="EntityFramework.SqlServer.dll" Guid="97de3945-2c70-4a5f-8ad2-67dd69f3240a">
			  <File Id="EntityFramework.SqlServer.dll" Name="EntityFramework.SqlServer.dll" Source="$(var.NineTapTour_TargetDir)EntityFramework.SqlServer.dll" />
			</Component>
			<Component Id="FluentValidationNA.dll" Guid="4bcd2317-fc70-4778-945f-43552f575b24">
			  <File Id="FluentValidationNA.dll" Name="FluentValidationNA.dll" Source="$(var.NineTapTour_TargetDir)FluentValidationNA.dll" />
			</Component>
			<Component Id="System.Linq.Dynamic.dll" Guid="c76f6d3a-a931-4631-afe9-5202aa420004">
			  <File Id="System.Linq.Dynamic.dll" Name="System.Linq.Dynamic.dll" Source="$(var.NineTapTour_TargetDir)System.Linq.Dynamic.dll" />
			</Component>
      <Component Id="Icon_9tap.ico" Guid="2bc93db2-51f3-4366-98af-e128f7b12c34">
        <File Id="Icon_9tap.ico" Name="9tap.ico" Source="$(var.NineTapTour_TargetDir)Icon\9tap.ico" />
      </Component>
		</ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="ProgramFilesFolder_files" Directory="ProgramFilesFolder">
	  </ComponentGroup>
	</Fragment>
</Wix>
